.center {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#cadeSmall {
  display: block;
  margin-bottom: 3%;
}

.nav {
  position: relative;
  margin: 20px 0;
  margin-top: 10%;
  font-family: Helvetica;
  font-weight: bold;
}
.nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.nav a {
  padding: 3px 12px;
  text-decoration: none;
  color: blue;
  line-height: 100%;
}
.nav a:hover {
  color: #000000;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width: 812px)
and (-webkit-device-pixel-ratio : 3) {

  .nav {
    position: relative;
    min-height: 40px;
    font-size: 36px;
    font-family: Helvetica;
    font-weight: bold;
    word-spacing: 10px;
  }
}

/*-------*/

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
  background: yellow;
}

a:active {
  color: blue;
  text-decoration: none;
}

body {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

/* STYLE FOR PROJECT PAGES */

#project {
  margin-top: 10%;
  display: block;
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  color: black;
}

#titleText {
  font-style: italic;
  font-size: 48px;
}

#subTitle {
  font-style: italic;
}

#video {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

#vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    margin-left: 20%;
    border: 0;
}
