.center {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#cadeSmall {
  display: block;
}

nav {
  margin: 0;
  position: fixed;
  left: 25%;
  height: 50%;
  width: 50%;
  bottom: 10%;
  top: 15%;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  word-spacing: 10px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width: 812px)
and (-webkit-device-pixel-ratio : 3) {

  nav {
    margin: 0;
    position: absolute;
    left: 25%;
    height: 50%;
    width: 50%;
    bottom: 10%;
    top: 15%;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    word-spacing: 10px;
  }
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
  background: blue;
}

a:active {
  color: blue;
  text-decoration: none;
}
