.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 4px;
  margin-left: 50px;
  margin-right: 50px;
}

.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 20px 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
  column-span: 2;
}

@font-face {
  font-family: 'HelveticaNeue';
  src:  local('HelveticaNeue') format('ttf'),
}

nav {
  margin-top: 40px;
  font-family: HelveticaNeue;
  font-size: 15px;
  margin-left: 50px;
  display: inline-block;
  word-spacing: 15px;
  letter-spacing: 2px;
}

#cade {
  display: inline-block;

/*  font-size: 40px;
  font-family: HelveticaNeue;
  font-weight: bold;
  letter-spacing: 3px;
  font-style: italic;
  display: inline-block;
  word-spacing: 15px; */

}


#video {
  margin-top: 40px;
  position: fixed;
  margin-left: 50px;
  margin-right: 50px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: pink;
}


a:active {
  text-decoration: none;
  color: black;
}
